## Initial Setup

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/drewhenning/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

In [3]:
# establish urls
base_url = 'https://zelda.fandom.com/wiki/The_Legend_of_Zelda:_Breath_of_the_Wild'
enemies_url = 'https://zelda.fandom.com/wiki/Enemies_in_Breath_of_the_Wild'
regions_url = 'https://zelda.fandom.com/wiki/Region'
divine_beasts_url = 'https://zelda.fandom.com/wiki/Dungeons_in_Breath_of_the_Wild'

## Divine Beasts

In [4]:
# visit url
browser.visit(divine_beasts_url)

# extract html
html = browser.html
    
# create soup object
soup = BeautifulSoup(html, 'html.parser')

# create empty list
divine_beasts = []

for x in range(0,4):
    
    # extract html
    html = browser.html
    
    # create soup object
    soup = BeautifulSoup(html, 'html.parser')
    
    # find devine_beasts
    beast_name = soup.find_all('div', class_='gallerytext')[x].a['title'] 
    
    # append enemies to list
    divine_beasts.append(beast_name)

# print list
print(divine_beasts)

['Divine Beast Vah Medoh', 'Divine Beast Vah Rudania', 'Divine Beast Vah Naboris', 'Divine Beast Vah Ruta']

In [5]:
# create dataframe from list
df_divine_beasts = pd.DataFrame(divine_beasts)

# rename columns
df_divine_beasts = df_divine_beasts.rename(columns={0:"Divine Beast"})

# display dataframe
df_divine_beasts

# convert to csv

               Divine Beast
0    Divine Beast Vah Medoh
1  Divine Beast Vah Rudania
2  Divine Beast Vah Naboris
3     Divine Beast Vah Ruta

## Enemies

#### Monsters

In [6]:
# visit url
browser.visit(enemies_url)

# extract html
html = browser.html
    
# create soup object
soup = BeautifulSoup(html, 'html.parser')

# create empty list
monsters = []

# get title and url
for x in range(0,71):
    
    # extract html
    html = browser.html
    
    # create soup object
    soup = BeautifulSoup(html, 'html.parser')
    
    # find enemies
    enemies = soup.find_all('div', class_='gallerytext')[x].a['title']
    
    # append enemies to list
    monsters.append(enemies)

# print list
print(monsters)

['Black Bokoblin', 'Black Lizalfos', 'Black Moblin', 'Blizzrobe', 'Blue Bokoblin', 'Blue Lizalfos', 'Blue-Maned Lynel', 'Blue Moblin', 'Bokoblin', 'Chuchu', 'Chuchu', 'Chuchu', 'Cursed Bokoblin', 'Cursed Lizalfos', 'Cursed Moblin', 'Decayed Guardian', 'Electric Chuchu', 'Electric Chuchu', 'Electric Chuchu', 'Electric Keese', 'Electric Lizalfos', 'Electric Wizzrobe', 'Fire-Breath Lizalfos', 'Fire Chuchu', 'Fire Chuchu', 'Fire Chuchu', 'Fire Keese', 'Fire Wizzrobe', 'Forest Octorok', 'Frost Pebblit', 'Golden Bokoblin', 'Golden Lizalfos', 'Golden Lynel', 'Golden Moblin', 'Guardian Stalker', 'Guardian Scout I', 'Guardian Scout II', 'Guardian Scout III', 'Guardian Scout IV', 'Guardian Skywatcher', 'Guardian Turret', 'Ice Chuchu', 'Ice Chuchu', 'Ice Chuchu', 'Ice Keese', 'Ice-Breath Lizalfos', 'Ice Wizzrobe', 'Igneo Pebblit', 'Keese', 'Lizalfos', 'Lynel', 'Meteo Wizzrobe', 'Moblin', 'Rock Octorok', 'Sentry', 'Silver Bokoblin', 'Silver Lizalfos', 'Silver Lynel', 'Silver Moblin', 'Sky Octorok', 'Snow Octorok', 'Stalizalfos', 'Stalkoblin', 'Stalmoblin', 'Stone Pebblit', 'Thunder Wizzrobe', 'Treasure Octorok', 'Water Octorok', 'White-Maned Lynel', 'Yiga Blademaster', 'Yiga Footsoldier']

In [7]:
# create dataframe from list
df_monsters = pd.DataFrame(monsters)

# rename columns
df_monsters = df_monsters.rename(columns={0:"Monster"})

# display dataframe
df_monsters

              Monster
0      Black Bokoblin
1      Black Lizalfos
2        Black Moblin
3           Blizzrobe
4       Blue Bokoblin
..                ...
66   Treasure Octorok
67      Water Octorok
68  White-Maned Lynel
69   Yiga Blademaster
70   Yiga Footsoldier

[71 rows x 1 columns]

#### Overworld Bosses

In [8]:
# visit url
browser.visit(enemies_url)

# extract html
html = browser.html
    
# create soup object
soup = BeautifulSoup(html, 'html.parser')

# create empty list
overworld_bosses = []

# get title and url
for x in range(85,101):
    
    # extract html
    html = browser.html
    
    # create soup object
    soup = BeautifulSoup(html, 'html.parser')
    
    # find enemies
    ow_bosses = soup.find_all('div', class_='gallerytext')[x].a['title']
    
    # append ow_bosses to list
    overworld_bosses.append(ow_bosses)
    
# print list
print(overworld_bosses)

['Stone Talus', 'Stone Talus', 'Stone Talus (Luminous)', 'Stone Talus (Rare)', 'Igneo Talus', 'Frost Talus', 'Hinox', 'Hinox', 'Hinox', 'Hinox', 'Blue Hinox', 'Black Hinox', 'Stalnox', 'Molduga', 'Igneo Talus Titan', 'Molduking']

In [9]:
# create dataframe from list
df_overworld_bosses = pd.DataFrame(overworld_bosses)

# rename columns
df_overworld_bosses = df_overworld_bosses.rename(columns={0:"Overworld_Bosses"})

# display dataframe
df_overworld_bosses

          Overworld_Bosses
0              Stone Talus
1              Stone Talus
2   Stone Talus (Luminous)
3       Stone Talus (Rare)
4              Igneo Talus
5              Frost Talus
6                    Hinox
7                    Hinox
8                    Hinox
9                    Hinox
10              Blue Hinox
11             Black Hinox
12                 Stalnox
13                 Molduga
14       Igneo Talus Titan
15               Molduking

#### Dungeon Bosses

In [10]:
# visit url
browser.visit(enemies_url)

# extract html
html = browser.html
    
# create soup object
soup = BeautifulSoup(html, 'html.parser')

# create empty list
dungeon_bosses = []

# get title and url
for x in range(102,109):
    
    # extract html
    html = browser.html
    
    # create soup object
    soup = BeautifulSoup(html, 'html.parser')
    
    # find enemies
    dun_bosses = soup.find_all('div', class_='gallerytext')[x].a['title']
    
    # append dun_bosses to list
    dungeon_bosses.append(dun_bosses)

# print list
print(dungeon_bosses)

['Fireblight Ganon', 'Master Kohga', 'Thunderblight Ganon', 'Waterblight Ganon', 'Monk Maz Koshia', 'Calamity Ganon', 'Dark Beast Ganon']

In [11]:
# create dataframe from list
df_dungeon_bosses = pd.DataFrame(dungeon_bosses)

# rename columns
df_dungeon_bosses = df_dungeon_bosses.rename(columns={0:"Dungeon_Bosses"})

# display dataframe
df_dungeon_bosses

        Dungeon_Bosses
0     Fireblight Ganon
1         Master Kohga
2  Thunderblight Ganon
3    Waterblight Ganon
4      Monk Maz Koshia
5       Calamity Ganon
6     Dark Beast Ganon

## Regions

In [12]:
# visit url
browser.visit(regions_url)

# extract html
html = browser.html
    
# create soup object
soup = BeautifulSoup(html, 'html.parser')

# create empty list
regions = []

# get title and url
for x in range(4,12):
    
    # extract html
    html = browser.html
    
    # create soup object
    soup = BeautifulSoup(html, 'html.parser')
    
    # find regions
    region_name = soup.find_all('li')[x].a.text

    # append region_name to list
    regions.append(region_name)

# print list
print(regions)

['Akkala', 'Central Hyrule', 'Eldin', 'Faron', 'Gerudo', 'Hebra', 'Lanayru', 'Necluda']

In [13]:
# create dataframe from list
df_regions = pd.DataFrame(regions)

# rename columns
df_regions = df_regions.rename(columns={0:"Region"})

# display dataframe
df_regions

           Region
0          Akkala
1  Central Hyrule
2           Eldin
3           Faron
4          Gerudo
5           Hebra
6         Lanayru
7         Necluda

In [14]:
# quit browser
browser.quit()